.form {
    margin-top: 50px;
    margin-bottom: 150px;
    @include media(">large") {
        margin-top: 0;
        margin-bottom: 100px;
    }
    .form__container {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 75px;
        @include media(">large") {
            align-items: center;
            gap: 30px;
            flex-direction: row;
        }
        & > div {
            flex-basis: 0;
        }
    }
    .form__scrset {
        flex-grow: 1;
    }
    .form__element-width {
        flex-grow: 1;
    }
    .form__breakpoint {
        flex-grow: 1;
    }
    .form__submit {
        flex-grow: 0;
        display: flex;
        align-self: stretch;
        button {
            width: 100%;
        }
        @include media(">large") {
            align-self: flex-end;

        }
    }
    .form__aspect-ratio {
        position: relative;
        min-width: 100px;
        align-self: center;
        margin-bottom: 60px;
        @include media(">large") {
            margin-bottom: 0;
        }
    }
    .form__aspect-ratio-inputs {
        display: flex;
        max-width: 200px;
        input {
            padding-left: 0;
            padding-right: 0;
            background: none;
            border-bottom: none;
            text-align: center;
        }
    }
    .form__aspect-ratio-width {
        position: relative;
        margin-right: 5px;
        &::after {
            content: ':';
            position: absolute;
            right: -10px;
            top: calc(50% - 2px);
            transform: translateY(-50%);
            font-size: 30px;
            font-weight: $global-weight-bold;
        }
    }
    .form__aspect-ratio-height {
        margin-left: 5px;
    }
    .form__switcher {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        background: $medium-gray;
        border-radius: 50px;
        font-family: $heading-font;
        font-size: 26px;
        padding: 2px;
        bottom: -60px;
        @include media(">large") {
            font-size: 12px;
            bottom: -10px;
        }
        
    }   
    .form__switcher-item {
        padding: 10px 25px;
        border-radius: 50px;
        @include media(">large") {
            padding: 0 5px;
        }
        &.active {
            background: $primary-color;
        }
        &:hover {
            cursor: pointer;
            background: rgba($white, .2);
        }
    }
}