body {
    font-family: $global-font;
    color: $white;
}
.App {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-gray;
}

h1 {
    font-family: $heading-font;
    font-size: 100px;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
}


// Form
label {
  font-size: 16px;
  font-weight: $global-weight-medium;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

input {
    border: none;
    background-color: $medium-gray;
    border-bottom: 2px solid $primary-color;
    color: $white;
    font-weight: $global-weight-bold;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 0;
    &:focus {
        outline: 0;
    }
}

select {
    border: none;
    background-color: $medium-gray;
    border-bottom: 2px solid $primary-color;
    color: $white;
    font-weight: $global-weight-bold;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    border-radius: 0;
    &:hover {
        cursor: pointer;
    }
}

/* Remove spinners from input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    display: block;
    background: $primary-color;
    outline: 0;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: $global-weight-bold;
    padding: 22px;
    &:hover {
        cursor: pointer;
    }
}